<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link th:href="@{/resources/style.css}" rel="stylesheet">

  <title>Harteraad Beweegmaatjes</title>
</head>

<body>

<nav class="shadow-sm navbar">
  <div class="container">
    <div class="d-flex">
      <img th:src="@{/resources/pictures/Harteraad_hart.png}" alt="" height="100%" width="100%">
      <h2 class="">Harteraad <p class="txt-m text-right d-flex align-items-start justify-content-end">Beweegmaatjes
      </p>
      </h2>
    </div>
    <form class="form-inline d-flex align-items-start" th:action="@{/login}" method="post">
      <input class="form-control mr-sm-2" type="username" placeholder="Username">
      <input class="form-control mr-sm-2" type="password" placeholder="Wachtwoord">
      <div class="d-flex flex-column align-content-end">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sign In">Login</button>
      </div>
    </form>
  </div>
  </form>
  </div>
</nav>

<div class="container mt-5">
  <div class="row d-flex justify-content-around">
    <div class="col-md-4 d-flex">
      <h2>Harteraad Beweegmaatjes, iets voor jou?
      </h2>
    </div>
    <div class="col-md-4 d-flex align-self-end">
      <h2>Vrijwilligers</h2>
    </div>
  </div>
</div>

<div class="container mt-1">
  <div class="row d-flex justify-content-around">
    <div class="col-md-4">



      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
        dictum
        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
        eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
        dapibus in, viverra quis, feugiat b. Click <a th:href="@{/volunteers}">here</a></p>

    </div>

    <div class="col-md-4">

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
        dictum
        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
        eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
        dapibus in, viverra quis, feugiat a. </p>
      <a href="#" th:href="@{/volunteer/new}" >Meld je hier aan</a>
      <!--sec:authorize="hasAuthority('ADMIN')"-->

    </div>
  </div>
</div>


<footer class="fixed-bottom">
  <div class="footertext">
    <b>Contact</b><br>
    Tel: 088 1111 600<br>
    info@harteraad.nl<br>

    <b>Bezoekadres</b><br>
    Prinses Catharina-Amaliastraat 10<br>
    2496 XD Den Haag<br>

  </div>
</footer>

<!-- JavaScript -->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>


</html>